
<!DOCTYPE html>
<html lang="en">
<script src="/javascripts/jquery-1.11.1.min.js">  
</script>
<script src="/javascripts/user.js">  
</script>

<script src="/javascripts/googlemap.js">  
</script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


 <body>
    <%- body %>
  </body>
</html>