body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#googlelogin-logo {
    background-image:url(/images/google_login.png);
    display:block;
    height:100px;
    width:300px;
}